Package: winmod
Version: 1.0-1
Architecture: all
Maintainer: mypc <mypc@unknown>
Installed-Size: 30
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
